
/* BODY STYLE */

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 0;
  display: flex;
  flex-flow: row;
}

.photograph-header article {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.photograph-header article img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 100px;
}

.photograph-header article h2 {
  color: #d3573c;
  font-size: 36px;
}

.photograph-header article h3 {
  color: #901c1c;
  font-size: 18px;
}

.photograph-header article h4 {
  font-weight: normal;
}

.contact_button, .send_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.gallery_section {
  margin-left: 100px;
  padding-top: 100px;
  margin-right: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;
}

.div_select {
  margin-left: 100px;
  margin-top: 5px;
  width: 100%;
}

.label_select {
  font-size: 16px;
  font-weight: bolder;
  margin-right: 20px;
}

.menu_select {
  height: 50px;
  width: 150px;
  padding-left: 10px;
  border-radius: 5px;
  color: #fafafa;
  background-color: #901c1c;
  cursor: pointer;
}



.gallery_section article img, .gallery_section article video {
  height: 300px;
  width: 350px;
  object-fit: cover;
}

.gallery_section article div {
  position: relative;
  color: #901c1c;
}

.gallery_section article h3 {
  max-width: 300px;
}

.likes_and_button {
  width: 100px;
  height: 50px;
  position: absolute;
  bottom: 63px;
  left: 295px;
  display: flex;
  flex-flow: row wrap;
}

.number_of_likes {
  position: relative;
}

.liking_button {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 30px;
  top: 15px;
  cursor: pointer;
 
}

img.liking_button {
  width: 30px!important;
  height: 30px!important;
}

.photo_link
{
  cursor: pointer;
}


.likes_popup {
  width: 350px;
  height: 50px;
  background-color: #D3573C;
  border-radius: 5px 5px 0 0;
  position: absolute;
  z-index: 3;
  right: 95px;
  bottom: -5px;
  position: fixed;

}

.likes_position {
  position: relative;
}

.likes_div, .price_span {
  position: absolute;
  top: 13px;
}

.likes_div{
  left: 25px;
}

.likes_icon
{
  position: absolute;
  left: 45px;
  top: 2px;
}

.price_span 
{
  left: 240px;
  
}

/* MODALS STYLE */

#contact_modal, #confirm_modal, #lightbox_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(220, 220, 220, 0.4);
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 22px;
}

.input_message {
  height: 204px;
  width: 100%;
  border-radius: 5px;
  font-size: 22px;
}

.formData[data-error]::after {
  content: attr(data-error);
  font-size: 17px;
  font-weight: bold;
  color: red;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: left;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}
.formData[data-error-visible="true"]::after {
  opacity: 1;
}
.formData[data-error-visible="true"] .text_control {
  border: 2px solid red;
}

input[data-error="true"]::after {
  content: attr(data-error);
  font-size: 17px;
  color: red;
}

.modal2
{
  position: relative;
}

.close2
{
  position: absolute;
  left: 700px;
}

.thanks
{
  position: absolute;
  width: 500px;
  text-align: center;
  left: 120px;
  top: 200px;
}


/* LIGHTBOX STYLE */

#lightbox_modal
{
  background-color: #fff;
}

#lightbox_flex
{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#carousel_box
{
  width: 1253px;
  height: 984px;
  border: 2px solid #95FFF9;
  margin-top: 62px;
  margin-bottom: 62px;
  margin-right: 99px;
  margin-left: 99px;
  position: relative;
}

.carousel_window
{
  width: 84%;
  height: 950px;
  position: absolute;
  top: 22px;
  left: 84px;
  overflow: hidden;
}


.carousel_next, .carousel_prev {
  width: 40px;
  height: 40px;
  background: none;
  position : absolute;
  top: 450px;
  cursor:pointer;
  transition: transform 0.3s;
  z-index: 3;
  /* Pour mettre des svg rdv à 30 min. */
  /* Par choix, je ne fais plus la transition opacity */
}

.carousel_next:hover, .carousel_prev:hover {
  transform: scale(1.2);
}

.carousel_prev--hidden, .carousel_next--hidden {
  display: none;
}

.carousel_prev
{
  left: 20px;
  background: #fff;
}

.carousel_next, .close_lightbox
{
  right: 3%;
}

.close_lightbox
{
  width: 40px;
  height: 40px;
  background: none;
  position : absolute;
  top: 30px;
  cursor: pointer;
  z-index: 3;
  
}

.carousel_window article {
  width: 100%;
}

.carousel_window article img, .carousel_window article video {
  width: 100%; 
  height: 900px;
  object-fit: cover;
}

.carousel_window article h3 {
  margin-top: 10px;
  color: #901c1c;
}

.carousel 
{
  position: relative;
}

.carousel__container
{
   transition: transform 0.3s;
   transform : translate3d(0,0,0);
}


.carousel__container::after 
{
  content: "";
  clear: both;
  display: table;
}

.carousel__item
{
  float: left;
}